127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# AAP project
{% for host in groups['aapservers'] %}
{{ hostvars[host].ansible_facts['eth1']['ipv4']['address'] }} {{ host }} {{ hostvars[host].ansible_facts['hostname'] }}
{% endfor %}
{{ aap_vip }} aap-vip.com
{{ db_vip }} {{ groups['database'][0] }}
